/* Font Roboto =====================================================*/
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* RobotoCondensed =====================================================*/
@font-face {
    font-family: 'RobotoCondensed';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

