.title {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 41px;
   /* identical to box height, or 100% */
   text-align: center;
   text-transform: uppercase;
   color: #F9BF3B;
}

.btn {
   width: 313px;
   height: 72px;
   line-height: 72px;
   font-family: 'Roboto';
   font-weight: 300;
   font-size: 20px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}