.title {
   font-family: "Roboto";
   font-weight: 900;
   font-size: 41px;
   /* identical to box height, or 100% */
   text-align: center;
   text-transform: uppercase;
   color: #f9bf3b;
}

.title-underline {
   font-family: "Roboto";
   font-size: 30px;
   text-transform: uppercase;
   color: #252525;
   position: relative;
   padding-bottom: 24px;
   text-align: center;
   &:after {
      content: "";
      position: absolute;
      width: 217px;
      height: 4px;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      background-color: #f9bf3b;
   }
}

.title-blue {
   font-weight: 900;
   color: #299cbd;
   font-family: "Roboto";
   text-transform: uppercase;
}

.btn {
   width: 313px;
   height: 72px;
   line-height: 72px;
   font-family: "RobotoCondensed";
   font-weight: 400;
   font-size: 21px;
   text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
   text-transform: uppercase;
   color: #ffffff;
   box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.23);
   text-align: center;
   cursor: pointer;
   background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
