@import "_nullstyles";
@import "_modify";
// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;500;700;900&display=swap');

.wrapper {
   min-height: 100vh;
   overflow: hidden;
}

.container {
   max-width: 1160px;
   margin: 0px auto;
   padding: 0px 10px
}

// Fullscreen

.fullscreen {
   min-height: 100vh;
   background: url('../img/fullscreen/main_bg.jpg') center center/cover no-repeat;
   text-align: center;
   padding: 38px 0px 60px;

   &__logo {
      margin-bottom: 53px;

      img {
         margin-bottom: 15px;
      }
   }

   &__image-text {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
   }

   &__title {
      margin-bottom: 20px;
   }

   &__midtitle {
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 80px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #fff;
      position: relative;

      &:after,
      &:before {
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 292px;
         height: 2px;
         background-color: #fff;
      }

      &:before {
         left: 0px
      }

      &:after {
         right: 0px
      }
   }

   &__subtitle {
      margin-bottom: 20px;
   }

   &__text {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 21px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 70px;
      span {
         font-weight: 700;
         color:#F9BF3B;
      }
   }

   &__btn {
   	margin-bottom: 70px;
   	
   }

   &__more-info {
   	font-family: 'Roboto';
		font-weight: 100;
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 5px;
   }

   &__arrow-down {
   }
}

