@import "_nullstyles";
@import "_modify";

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1160px;
    margin: 0px auto;
    padding: 0px 10px;
}

// Fullscreen
.fullscreen {
    min-height: 100vh;
    background: url("../img/fullscreen/main_bg.jpg") center center/cover no-repeat;
    text-align: center;
    padding: 38px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        margin-bottom: 53px;

        img {
            margin-bottom: 15px;
        }
    }

    &__image-text {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__midtitle {
        font-family: "Roboto";
        font-weight: 900;
        font-size: 80px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #fff;
        position: relative;

        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 292px;
            height: 2px;
            background-color: #fff;
        }
        &:before {
            left: 0px;
        }
        &:after {
            right: 0px;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
    }

    &__text {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 70px;
        span {
            font-weight: 700;
            color: #f9bf3b;
        }
    }

    &__btn {
        margin-bottom: 70px;
    }

    &__more-info {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 13px;
    }

    &__arrow-down {
    }
}

// Waiting section
.waiting {
    background-color: #efefef;
    padding: 85px 0px 70px;
    &__title {
        color: #252525;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: "Roboto";
        font-size: 23px;
        text-align: center;
        color: #4a4a4a;
        margin-bottom: 45px;
    }

    &__row {
        display: flex;
        margin: 0px -24px;
    }

    &__column {
        text-align: center;
        flex: 0 1 33.333%;
        padding: 0px 24px;
    }

    &__image {
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
    }

    &__text {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: #4a4a4a;
    }
}

// Optimization section
.optimization {
    min-height: 550px;
    .container {
        position: relative;
        padding: 102px 0px 102px;
    }
    &__image {
        position: absolute;
        left: -250px;
        top: 48px;
        z-index: -1;
    }

    &__body {
        margin-left: 391px;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 16px;
    }

    &__text {
        font-family: "Roboto";
        font-size: 17px;
        font-weight: 300;
        line-height: 1.59;
        text-align: justify;
        color: #4a4a4a;
        p {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
                font-weight: 700;
            }
        }
    }
}

// Finish study section

.finish {
    min-height: 447px;
    padding: 83px 0px 80px;
    background: url("../img/finish/finish_bg.jpg") center center/cover no-repeat;
    &__title {
        color: #efefef;
        margin-bottom: 40px;
    }

    &__columns {
        display: flex;
        margin: 0px -17.5px;
    }

    &__column {
        flex: 0 1 20%;
        padding: 0px 17.5px;
    }

    &__item {
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115px;
        height: 115px;
        background-color: #b4e2ff;
        border-radius: 50%;
        margin: 0px auto;
        margin-bottom: 20px;
    }

    &__text {
        font-family: "Roboto";
        font-size: 17px;
        font-weight: 300;
        line-height: 1.18;
        text-align: center;
        color: #efefef;
    }
}

// Bonus section
.bonus {
    padding: 85px 0px;
    text-align: center;
    background-color: #efefef;
    &__gift {
        text-align: center;
        margin-bottom: 30px;
    }

    &__text {
        font-family: "Roboto";
        font-size: 30px;
        line-height: 1.43;
        text-align: center;
        color: #252525;
        margin-bottom: 45px;
    }

    &__btn {
        margin: 0px auto;
    }
}

// Webinar section
.webinar {
    padding: 80px 0px 65px;
    text-align: center;
    min-height: 515px;
    &__image {
        margin-bottom: 35px;
    }

    &__suptitle {
        font-family: "Roboto";
        font-size: 30px;
        text-align: center;
        color: #252525;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    &__text {
        font-family: "Roboto";
        font-size: 23px;
        text-align: center;
        color: #4a4a4a;
    }
}

// Footer
.footer {
    min-height: 166px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__top {
        margin-bottom: 10px;
    }

    &__link {
        font-family: "Roboto";
        font-size: 15px;
        color: #888;
        font-weight: 300;
        text-decoration: underline;
        &:first-child {
            &:after {
                content: "|";
                margin-left: 5px;
                margin-right: 2.5px;
                // margin: 0px 5px;
            }
        }
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: #888;
        }
        &_not-line {
            text-decoration: none;
        }
    }
}
